{
  "windows_exe": "WINDOWS_EXE",
  "windows_dll": "WINDOWS_DLL",
  "linux_binary": "LINUX_BINARY",
  "macos_binary": "MACOS_BINARY",
  "windows_stager": "WINDOWS_STAGER",
  "win_profile": "WIN_PROFILE",
  "dll_profile": "DLL_PROFILE",
  "linux_profile": "LINUX_PROFILE",
  "mac_profile": "MAC_PROFILE",
  "stager_profile": "STAGER_PROFILE",
  "redirector_host": "REDIRECTOR_HOST",
  "redirector_port": "REDIRECTOR_PORT",
  "c2_host": "C2_HOST",
  "generated_date": "GENERATED_DATE"
}